p {
    font-family: 'Roboto Serif', serif;
}

h2 {
    font-size: 30px;
    margin: 0 0 32px 0;
	color: #0a65a0
}

#portfolio h2{
    font-size: 30px;
    line-height: 20px;
    margin: 0;
    color: #0a65a0;
}

section.dark {
    background-color: #0a65a0 !important;
    border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
}

.testimonial cite span {
    display: block;
    color: white;
    font-size: 12px;
    font-weight: 300;
}

#year {
    color: #a94545;
    font-size: xx-large;
}

#step1-color,  #step2-color, #step3-color, #step4-color{
    color: #0a65a0;
}

h3 {
    font-size: 24px;
    letter-spacing: normal;
    margin: 0 0 10px 0;
}

.step-header {
    color: none;
}

#step1 {
    color: none;
}
/* Employees */
#team {
    width: auto;
    height: auto;
    border: 2px solid black;
    box-shadow: 6px 6px 6px inset #444444;
}
 /* Margin for the portfolio */
#portfolio.portfolio-nogutter .row > div, #portfolio.portfolio-nogutter .item-box {
    padding: 3px !important;
    margin: 0 !important;
}

#sidepanel.sidepanel-theme-color, div.alert.alert-theme-color, div.alert.alert-primary, span.badge-default, span.badge-default, .list-group-item.active>.badge.badge-default, .nav-tabs.nav-alternate>li>a.active, .datepicker table tr td.active.active, .callout-theme-color, .progress-bar-primary, .toast-primary, .owl-theme .owl-controls .owl-page span, .pagination>.active>a, .pagination>.active>a:hover, #header li.quick-cart .quick-cart-box a.btn, #header li.quick-cart .quick-cart-box a.btn:hover, #topMain.nav-pills>li.active>a>span.theme-color, .ei-slider-thumbs li.ei-slider-element, .flex-control-paging li a.flex-active, .tp-caption.block_theme_color, .tp-bullets.simplebullets.round .bullet.selected, i.ico-color, .caption-primary, .shop-list-options .btn.active, .box-static.box-color, .switch.switch-primary > input:checked + .switch-label, .fancy-file-upload.fancy-file-primary>span.button, .primary-slider .ui-slider .ui-slider-handle:before, .primary-slider .ui-slider .ui-slider-range, .ribbon-inner, .info-bar.info-bar-color, .music-album-title:hover, .inews-item .inews-thumbnail .inews-sticky, #progressBar #bar, #page-menu, #page-menu ul {
    background-color: white;
}

table, th, td {
    border:1px solid black;
  }

#home-nav, #services-nav, #residential-nav, #commercial-nav, #portfolio-nav, #news-nav, #clients-nav, #quote-nav, #contact-nav, h1, h2 {
    font-family: 'Lato', sans-serif;
}
  

#footer {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    background: #0965a0;
}

/* Residential and Commercial agent table */

.table-heading {
    background-color: rgb(10, 101, 160);
    color: white;
}

/* Filter Table */

/* .hide-fname, .hide-lname, .hide-rating, .hide-fee, .hide-region {
    
} */

